.get-in-touch-button{
    background: linear-gradient(90deg, #ff8a00, #e6d006);
    color: white;
    padding: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.6s ease;
}
.get-in-touch-button:hover {
    background: linear-gradient(90deg,  #e6d006,#ff8a00);
  }