.get-in-touch-button{
    background: rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(10px);
    color: white;
    padding: 30px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.6s ease;
    margin-bottom: 80px;
}
.get-in-touch-button:hover {
    background: rgba(255, 255, 255, 0.1) ;
  backdrop-filter: blur(10px);
  }