.cookie-policy-container{
    padding: 30px 20px 100px 300px;
    width: 90%;
    
}
.cookie-policy-container h2{
    font-size: 40px ;
    font-weight: 600;
    padding: 50px 0px 10px 0px;
    color: #96BAE4;
}

.cookie-policy-text{
    padding: 25px 0px 50px 0px;
}
.cookie-policy-container h2{
    font-size: 30px;
    font-weight: 600;
    padding: 50px 0px 10px 0px;
    color: grey;
}
.cookie-policy-contact-text{
    padding: 15px 0px 25px 0px;
}
.cookie-policy-btn{
    padding: 15px;
}

.cookie-policy-email{
    padding: 15px 0px 25px 0px;
    color:black;
}
.cookie-policy-email span{
    color: grey;
}
.cookie-policy-list{
    padding: 10px;
    font-weight: 700;
}
.cookie-policy-list p {
    padding: 10px;
}