.logo{
    width: 150px;
    margin-left: 50px;
    margin-top: 50px;
  cursor: pointer;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    background-color: #000000;
    font-family: "Poppins", sans-serif;
}
.navbar-menu{
    list-style: none;
    display: flex;
    cursor: pointer;
    position: absolute;
    right: 50px;
    margin-top: 40px;
}
.navbar-menu-link{
    padding: 2px 5px;
    color: #ecd29a;
    font-size: 1.2rem;
    gap: 20px;
    font-weight: 300;
    transition: all 0.3s ease;
    border-radius: 5px;
    
}
.navbar-menu-link:hover{
  color: #ece3d0;
}
.navbar-toggle-btn{
  color:#dac59b;
  font-size: 1.2rem;
  display: none;
 }
 .navbar-menu-link-sidebar{
  color:white;
    list-style: none;
    font-weight: 400;
    font-size: 1rem;
    margin: 0.25rem 0px;
 }
 .navbar-menu-link-sidebar:hover{
  color: #ece3d0;
  
 }
 .navbar-sidebar-menu{
  position: absolute;
  top: 2rem;
  right:2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  gap: 40px; 
  height: 100vh;
  width:45%;
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  border-radius: none;
  list-style: none;
  background-color: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(15px);
  z-index: 999;
 }

.underline{
  text-align: center;
  padding: 15px 0px;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
  white-space: nowrap; 
}

.underline:before {
  content: "";
  position: absolute;
  width: 0;
  background : #fff;
  left: 50%;
  height: 2px;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}

.underline:hover:before {
  width: 100%;
  left:0;
  background: #ece3d0;
  
}



  .dropdown{
    position: relative;
    display: inline-block;
  }
  .dropdown-menu{
    position: absolute;
    top:90%;
    left: 0;
    background: white;
    min-width: 180px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s;
    pointer-events: none;
    border-radius: 0.5rem;
    padding: 5px;
    z-index:2;
  }
  .dropdown:hover .dropdown-menu {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
   
  }
  .dropdown-menu li {
    color: #374151;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu li:hover {
    background: #f3f4f6;
  }
@media (min-width:320px) and (max-width:450px){
  .navbar{
    display: flex;
    justify-content:space-between;
    
  }
  .logo{
    width: 100px;
    margin: 6px;
  }
  .navbar-menu-link{
    display: none;
  }
  .navbar-toggle-btn{
    display: flex;
    padding: 15px;
  }
}
 
 