
.footer{
    background-color: #000000;
    color: white;
    padding: 100px 20px 30px 20px;
}


.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: 3px;
}
.social-link{
    width: 30px;
    height: 30px;

}
.social-link:hover{
    transform:scale(1.3);
 
}
.footer-content{
    display: flex;
    flex-direction: column;
   
}
.footer-content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-top{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.footer-content-center li{
    list-style: none;
    margin-bottom: 30px;
  
    
    
}
.footer-content-right li{
    list-style: none;
    margin-bottom: 30px;
}

.footer-logo{
    width: 150px;
    cursor: pointer;
}
.footer-top{
    display: flex;
   
}
.footer hr{
    width: 100%;
    border: 1px solid white;
    background-color: white;
    height: 0.1px;
    margin: 10px;
    border: none;
}
.footer-bottom{
    display: flex;
    flex-direction: column;
  
}
.footer-text{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.footer-text-right{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;  
    gap: 40px; 
    
}



.underline{
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    margin: 0 20px;
    white-space: nowrap; 
  }
  
  .underline:before {
    content: "";
    position: absolute;
    width: 0;
    background : #fff;
    left: 50%;
    height: 2px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
  }
  
  .underline:hover:before {
    width: 100%;
    left:0;
    background: orange;
    
  }
.footer-content-right li:hover{
    color: orange;
  }
  .footer-content-center li:hover{
    color: orange;
  }
 
  .footer-text-right a:hover{
    color:orange;
  }
@media (min-width:320px) and (max-width:480px){
    .footer-top{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-content{
        padding: 10px;
    }
    .underline{
        text-align: center;
        padding: 5px 0px;
        cursor: pointer;
        letter-spacing: 2px;
        position:relative;
        overflow:hidden;
        margin: 0 5px;
        white-space: nowrap; 
      }
      
      .underline:before {
        content: "";
        position: absolute;
        width: 0;
        background : #fff;
        left: 50%;
        height: 2px;
        bottom: 0;
        transition: all 0.3s ease-in-out;
        opacity: 0.7;
      }
      
      .underline:hover:before {
        width: 100%;
        left:0;
        background: orange;
        
      }
    .footer-text{
        display: flex;
        flex-direction: column;
       text-align: center;
    }
    .social-icons{
        margin: 0px;
    }
}

