.terms-of-service-container{
    padding: 30px 20px 100px 300px;
    width: 90%;
    
}
.terms-of-service-container h2{
    font-size: 40px ;
    font-weight: 600;
    padding: 50px 0px 10px 0px;
    color: #ffd700;
}

.terms-of-service-text{
    padding: 25px 0px 50px 0px;
}
.terms-of-service-container h3{
    font-size: 30px;
    font-weight: 600;
    padding: 50px 0px 10px 0px;
    color: grey;
}
.terms-of-service-contact-text{
    padding: 15px 0px 25px 0px;
}
.terms-of-service-btn{
    padding: 15px;
}
.terms-of-service-container hr{
    background-color: orange;
    width: 5%;
    height: 2px;
    border: none;
}
.terms-of-service-email{
    padding: 15px 0px 25px 0px;
    color:#ffd700;
}
.terms-of-service-email span{
    color: grey;
}