nav{
  display: flex ;
  justify-content:space-between;
  padding: 40px;
  width: 100%;
  height:100px;
  position: relative;
 
}
.abt-us-logo{
  width: 150px; 
  cursor: pointer;
}
nav .alt-navbar-links{
  list-style: none;
  display:flex;
  gap: 20px; 
  font-size: 1.2rem; 
  color: #F4DD77;
  position: absolute;
  right: 60px;
}

.toggle-btn{
  color:#ffd700;
  font-size: 1.2rem;
  display: none ;
}

/*about us content*/

.about-us-header {
    height:60vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/abt-us-header-img.png') no-repeat;
    background-size: cover;
    position: relative;
    
  }
 
  .abt-us-hero{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 70%;
    bottom: 20%;
    left: 10vw;
    z-index: 2;
  }
 
  .abt-us-hero h2{
    position: relative;
    font-weight: 600;
    color: white;
    font-size: max(4.5vw, 30px);

  }
  .abt-us-hero p{
    font-size: 18px;
    color: white;
    line-height: 1.5;
  }
  .abt-us-mission{
    padding: 100px;
    display: flex;
    justify-content: space-around;
    

  }
  .abt-us-mission-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 60%;
  }
  .abt-us-mission-text h3{
   font-size: 50px;
   padding: 20px;
  }
  .abt-us-mission-text p{
    font-size: 16px;
    line-height: 1.5;

  }

.mission-img{
    width: 300px;
    padding: 20px 0px 0px 10px;
}
.core-values-section{
    background-color: rgba(0, 2, 3, 0.288);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.core-values-title h3{
    padding: 25px;
    font-size: 30px;
    font-weight: 600;
}
.core-values {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.core-values-cover{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
    justify-content: center;
    gap: 30px;
    
    position: relative; /* Ensure the element is positioned correctly */
  z-index: 1; 

}
.core-value{
    width: 280px;
    height:250px;
    padding: 30px;
    background-color: transparent;
    border: 1px solid white; 
    border-radius: 10px;   
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.5); 
    transition: background 0.5s, transform 0.5s;
    cursor: pointer;
}
.core-value h5{
    font-size: 17px;
    padding: 5px;
}
.core-value p{
    font-size: 12px;
    padding: 5px;
}
.core-value-img{
    width: 30px;
}
.core-values-title p{
  padding: 10px;
  font-size: 20px;

}
.fa-solid{
 font-size: 30px;
 width: 100%;
}
.core-value:hover{
  background: #f4d003;
  transform: translateY(-20px);
}

@media (min-width:320px) and (max-width:700px){
 
  nav ul .alt-navbar-links{
    display: none;
  }
  .toggle-btn{
    display: flex;
  }
}