.slider-container {
  
  width: 55%;
  background: linear-gradient(90deg, #ff8a00, #e6d006) ;
  color: white;
  text-align: center;
  padding: 20px 10px;
  border: 1px solid white;
}
.slider-container.visible {
  opacity: 1;
  transform: translateY(0);
}
.slider-container.exit {
  opacity: 0;
  transform: translateY(-50px);
}


.slider h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.open-popup-btn{
  padding: 10px 15px;
  border: none;
  background: orange;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.open-popup-btn:hover{
  background-color: yellow;
}

@media (min-width:320px) and (max-width:480px){
  .slider h2{
    font-size: 15px;
    margin-bottom: 5px;
  }
  .open-popup-btn{
    font-size: 10px;
    margin: 3px;
  }
  .slider-container{
   
    padding: 15px 10px;
  }
}
