.slider-container {
  
  width: 35%;
  background: linear-gradient(90deg, #ecd29a, #dac59b) ;
  color: white;
  text-align: center;
  padding: 20px 10px;
  border: 1px solid white;
}
.slider-container.visible {
  opacity: 1;
  transform: translateY(0);
}
.slider-container.exit {
  opacity: 0;
  transform: translateY(-50px);
}


.slider h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.open-popup-btn{
  padding: 10px 15px;
  border: none;
  background: #f7f7f7;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.open-popup-btn:hover{
  background-color: #616541;
}

@media (min-width:320px) and (max-width:480px){
  .slider h2{
    font-size: 10px;
    margin-bottom: 5px;
  }
  .open-popup-btn{
    font-size: 7px;
    margin: 3px;
    padding: 5px 7px;
  }
  .slider-container{
   
    padding: 13px 7px;
  }
}
@media (min-width:480px) and (max-width:786px){
  .slider h2{
    font-size: 25px;
    margin-bottom: 5px;
  }
  .open-popup-btn{
    font-size: 20px;
    margin: 3px;
  }
  .slider-container{
   
    padding: 17px 8px;
  }
}
@media (min-width:787px) and (max-width:1024px){
  .slider h2{
    font-size: 30px;
    margin-bottom: 5px;
  }
  .open-popup-btn{
    font-size: 27px;
    margin: 3px;
  }
  .slider-container{
   padding: 18px 9px;
  }
}
@media (min-width:1025px) and (max-width:1440px){
  .slider h2{
    font-size: 25px;
    margin-bottom: 5px;
  }
  .open-popup-btn{
    font-size: 16px;
    margin: 3px;
  }
  .slider-container{
   padding: 20px 10px;
  }
}